.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
gradle/
gradlew
gradlew.bat
/src/console.txt
/DataSourceSelectorReg.log
/cbr.xml
/curr.xml
/regpass
/sb.html
/MessagesInCons.1
/MessagesInCons.2
/key
/key.cip
/MessagesInCons.3
/pass.test
/MessagesInCons.4
/MessagesInCons
/MessagesInCons.5
/MessagesInCons.6
/messages.log
/LibrariesDownloaderUploaderTest_66.prn
/key.pub
/MyHashCheckerTest.properties
/RateOfInterestConsole.log
/settings.jar
/StartMeFX.prn
/Test Results - test.html
/src/test/
/logs/
/libtest/
/cover/
/modules/money/src/test/
/modules/money/regpass
/modules/money/url.test.html
/props/
4.tmp
modules/money/out/
modules/money/src/main/
show.me
startmetest.log
/persons.txt
*_personID.txt
docs/
spring.srctrlbm
spring.srctrldb
spring.srctrlprj
src/New Folder/
/informer.srctrldb
/informer.srctrlprj
/informer.srctrlbm
/cook/
/file.f
