#ipString{
-fx-border-width: 0 0 2 0;

-fx-background-color: transparent;
}
#enteredText{
-fx-border-width: 0 0 2 0;
-fx-border-color: transparent transparent yellow transparent;
-fx-background-color: transparent;
-fx-text-fill:#ffffff
}
#circleIndicator{
-fx-fill: #465769;
}
#webViewer{
-fx-background-color: transparent;
}
#splPane{
-fx-background-color: #465769;
-fx-border-color: none;
}
#ancPane{
-fx-background-color: #465769;
-fx-border-color: none;
}
#button{
-fx-background-color: none;
-fx-text-alignment: center;
-fx-text-fill: f9edac;
}
#outText{
-fx-background-color: transparent;
}

#tooltip {
-fx-background-color: #1e1e1ecc;
-fx-background-insets: 0px;
-fx-background-radius: 6px;
-fx-effect: THREE_PASS_BOX, #00000080, 10px, 0px, 0px, 3px;
-fx-padding: 0.667em 0.75em 0.667em 0.75em;
}
#yesnobut {
-fx-background-color: #0000ff;
-fx-text-alignment: center;
-fx-text-fill: f9edac;
}